.shop-container{
    display: flex;
    width: 100%;
}
.product-container{
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightgray;
    margin-left: 100px;
}

.card-container{
    width: 20%;
    padding-left: 20px;
}

.loading{
    text-align:center;
    margin: 0 auto
}

.search{
    width: 80% !important;
    margin: 20px 0px;
}
.form-control{
    border-radius: 10px;
    padding: 10px;
}
::placeholder{
    padding-left: 20px;
}
